.paises{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pais{
    width: 100px;
    border: 1px solid gray;
    margin: 5px;
    padding: 5px;
}
.pais img{
    width: 100%;
    height: 60px;
    object-fit: cover;
}